body{
    margin: 0 auto;
    padding: 1% 10% 1% 10%;
    background-color: #eaf2e3   ;
    font-family: 'Noto Sans JP', sans-serif;
}

#ingredients{
width: 100%;
display: flex;
justify-content: space-between;
}

#steps{
    background-color: #61e8e1;
    padding: 2%;
}
img{
    width: 50%;
    
}

h1{
    border-bottom: 10px solid #f2cd60;
    width: fit-content;
    font-weight: bold;
    text-transform: uppercase;

}

h2{
    color: cornsilk;
    text-transform: uppercase;
    background-color: black;
    text-align: center;
   
}

ul{
   
    background-color: #f25757;
    padding:0 3% 3% 3%; 
    align-items: flex-start;
    
}

#ingredientTitle{
    text-align: center;
}
